@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    vertical-align: top;
    outline: 0;
    /* outline: red 1px dashed; */
}

body {
    margin: 0 auto;
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
}

h1 {
    font-family: 'Roboto Mono';
    display: inline-block;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.square {
    display: flex;
    width: 100px;
    height: 100px;
}